<?xml version="1.0"?>
<robot name="summit_xl" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="summit_base">

    <xacro:include filename="$(find summit_description)/urdf/base/summit_base.gazebo.xacro"/>
	  <!-- Robot mechanical and motor parameters -->
	  <xacro:property name="PI" value="3.1415926535897931"/>
	  <xacro:property name="wheel_width" value="0.175" />

	<!-- BASE FOOTPRINT -->
		<link name="summit_base_footprint">
		  <visual>
			  <origin xyz="0 0 0" rpy="0 0 0" />
			  <geometry>
				 <box size="0.01 0.01 0.01" /> <!-- 0.001 -->
			  </geometry>
		  </visual>
		</link>

		<joint name="summit_base_footprint_joint" type="fixed">
		  <origin xyz="0 0 ${wheel_radius}" rpy="0 0 0" /> <!-- ${wheel_radius} property must be defined inside wheel description -->
		  <parent link="summit_base_footprint"/>
		  <child link="summit_base_link" />
		  <child link="ang_link0"/>
		</joint>

  <!-- BASE_LINK -->
  <link name="summit_base_link">
    <inertial>
      <!-- mass value="125.0" / -->
      <mass value="29.293" />
      <origin xyz="0 0 0" />
      <inertia  ixx="0.440364" ixy="0.001030"  ixz="0.010733"  iyy="0.179965"  iyz="0.001686"  izz="0.580477" />
      <!-- inertia  ixx="1.391" ixy="0.004"  ixz="0.0"  iyy="6.853"  iyz="0.0"  izz="6.125" / -->
    </inertial>

    <visual>
       <origin xyz="0 0 0" rpy="0 0 0" />

       <geometry>
       <!-- mesh filename="package://summit_description/meshes/base/summit_base.dae"/ -->
	     <mesh filename="package://summit_description/meshes/base/corpus.dae"/>
       </geometry>
       <material name="darkgrey">
         <color rgba="0.1 0.1 0.1 1"/>
       </material>

    </visual>

    <collision>
       <origin xyz="0 0 0" rpy="0 0 0 " />
       <geometry>
         <!-- mesh filename="package://summit_description/meshes/base/summit_base.dae"/ -->
         <mesh filename="package://summit_description/meshes/base/corpus.dae"/>
       </geometry>
    </collision>

  </link>

  <!-- ******************************************HOKUYO LIDAR ******************************-->

  <joint name="hokuyo_joint" type="fixed">
        <axis xyz="0 0 0" />
        <origin xyz="-0.29 0 0.07" rpy="0 0 3.14"/>
        <parent link="summit_base_footprint"/>
        <child link="hokuyo_link"/>
    </joint>

  <!-- Hokuyo Laser -->
 <link name="hokuyo_link">
        <collision>
          <origin xyz="0 0 0" rpy="0 0 0"/>
          <geometry>
        <box size="0.1 0.1 0.1"/>
          </geometry>
        </collision>

        <visual>
          <origin xyz="0 0 0" rpy="0 0 0"/>
          <geometry>
            <mesh filename="package://summit_description/meshes/hokuyo.dae"/>
          </geometry>
        </visual>

        <inertial>
          <mass value="1e-5" />
          <origin xyz="0 0 0" rpy="0 0 0"/>
          <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
        </inertial>
  </link>

  <!--<gazebo reference="hokuyo_link">
    <sensor type="gpu_ray" name="head_hokuyo_sensor">
      <pose>0 0 0 0 0 0</pose>
      <visualize>false</visualize>
      <update_rate>40</update_rate>
      <ray>
        <scan>
          <horizontal>
            <samples>720</samples>
            <resolution>1</resolution>
            <min_angle>-1.570796</min_angle>
            <max_angle>1.570796</max_angle>
          </horizontal>
        </scan>
        <range>
          <min>0.10</min>
          <max>30.0</max>
          <resolution>0.01</resolution>
        </range>
        <noise>
          <type>gaussian</type>-->
          <!-- Noise parameters based on published spec for Hokuyo laser
               achieving "+-30mm" accuracy at range < 10m.  A mean of 0.0m and
               stddev of 0.01m will put 99.7% of samples within 0.03m of the true
               reading.-->
     <!--     <mean>0.0</mean>
          <stddev>0.01</stddev>
        </noise>
      </ray>
      <plugin name="gazebo_ros_head_hokuyo_controller" filename="libgazebo_ros_gpu_laser.so">
        <topicName>/summit_description/laser/scan</topicName>
        <frameName>hokuyo_link</frameName>
      </plugin>
    </sensor>
  </gazebo> -->
  <gazebo reference="hokuyo_link">
    <sensor type="ray" name="head_hokuyo_sensor">
      <pose>0 0 0 0 0 0</pose>
      <visualize>true</visualize>
      <update_rate>40</update_rate>
      <ray>
        <scan>
          <horizontal>
            <samples>720</samples>
            <resolution>1</resolution>
            <min_angle>-1.570796</min_angle>
            <max_angle>1.570796</max_angle>
          </horizontal>
        </scan>
        <range>
          <min>0.10</min>
          <max>30.0</max>
          <resolution>0.01</resolution>
        </range>
        <noise>
          <type>gaussian</type>
          <!-- Noise parameters based on published spec for Hokuyo laser
               achieving "+-30mm" accuracy at range < 10m.  A mean of 0.0m and
               stddev of 0.01m will put 99.7% of samples within 0.03m of the true
               reading. -->
          <mean>0.0</mean>
          <stddev>0.01</stddev>
        </noise>
      </ray>
      <plugin name="gazebo_ros_head_hokuyo_controller" filename="libgazebo_ros_laser.so">
        <topicName>/scan_front</topicName>
        <frameName>hokuyo_link</frameName>
      </plugin>
    </sensor>
  </gazebo>

  <!-- ******************************************HOKUYO LIDAR ******************************-->


  <!-- ******************************************RPLIDAR******************************-->

  <joint name="rplidar_joint" type="fixed">
        <axis xyz="0 0 0" />
        <origin xyz="0.204590 0 0.161790" rpy="0 0 0"/>
        <parent link="summit_base_footprint"/>
        <child link="rplidar_link"/>
    </joint>

  <!-- RPLIDAR Laser -->
 <link name="rplidar_link">
        <visual>
          <origin xyz="0 0 0" rpy="0 0 0"/>
          <geometry>
              <box size="0.01 0.01 0.01"/>
                <!-- NO GOD PLEASE NO!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
         <!--   <mesh filename="package://summit_description/meshes/laser/lds.stl" scale="0.001 0.001 0.001"/> -->
          </geometry>
        </visual>

        <collision>
          <origin xyz="0.015 0 -0.0065" rpy="0 0 0"/>
          <geometry>
              <cylinder length="0.0315" radius="0.055"/>
          </geometry>
        </collision>

        <inertial>
          <mass value="0.114" />
          <origin xyz="0 0 0" />
          <inertia ixx="0.001" ixy="0.0" ixz="0.0"
                   iyy="0.001" iyz="0.0"
                   izz="0.001" />
        </inertial>
  </link>

  <gazebo reference="rplidar_link">
    <sensor type="ray" name="head_rplidar_sensor">
      <pose>0 0 0 0 0 0</pose>
      <visualize>true</visualize>
      <update_rate>5</update_rate>
      <ray>
        <scan>
            <horizontal>
              <samples>720</samples>
              <resolution>1</resolution>
              <min_angle>-1.570796</min_angle>
              <max_angle>1.570796</max_angle>
            </horizontal>
        </scan>
        <range>
            <min>0.120</min>
            <max>3.5</max>   
            <resolution>0.015</resolution>
        </range>
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.01</stddev>
        </noise>
      </ray>
      <plugin name="gazebo_ros_head_hokuyo_controller" filename="libgazebo_ros_laser.so">
        <topicName>/scan_back</topicName>
        <frameName>rplidar_link</frameName>
      </plugin>
    </sensor>
  </gazebo>

  <!-- ****************************************** RPLIDAR******************************-->
  </xacro:macro>
</robot>

